/* Acerca de mi */

position: absolute;
width: 1145.38px;
height: 783px;
left: 376px;
top: 78px;



/* Carpeta 1 */

position: absolute;
width: 1145.38px;
height: 783px;
left: 376px;
top: 78px;



/* Vector 1 */

position: absolute;
width: 1145.37px;
height: 782.99px;
left: 376px;
top: 78px;

background: #D3E3FD;


/* Rectangle 10 */

position: absolute;
width: 24.22px;
height: 24.22px;
left: 380.66px;
top: 81.73px;

background: #EDF2FA;
border-radius: 10px;


/* Vector 2 */

position: absolute;
width: 1145.38px;
height: 778.81px;
left: 376px;
top: 82.19px;

background: #FFFFFF;


/* Rectangle 11 */

position: absolute;
width: 937.16px;
height: 27.95px;
left: 480.34px;
top: 117.13px;

background: #EDF2FA;
border-radius: 15px;


/* Vector 3 */

position: absolute;
width: 6.52px;
height: 3.26px;
left: 389.97px;
top: 92.44px;

border: 1.5px solid #474747;


/* Vector 4 */

position: absolute;
width: 6.06px;
height: 6.06px;
left: 593.06px;
top: 91.04px;

border: 1.5px solid #474747;


/* Vector 5 */

position: absolute;
width: 6.06px;
height: 6.06px;
left: 593.06px;
top: 97.1px;

border: 1.5px solid #474747;
transform: rotate(-90deg);


/* Vector 6 */

position: absolute;
width: 0px;
height: 7.45px;
left: 624.73px;
top: 90.11px;

border: 1.5px solid #474747;


/* Vector 7 */

position: absolute;
width: 0px;
height: 7.45px;
left: 628.46px;
top: 93.84px;

border: 1.5px solid #474747;
transform: rotate(90deg);


/* Vector 8 */

position: absolute;
width: 1145.37px;
height: 0px;
left: 376px;
top: 151.59px;

border: 1px solid #E1E3E1;


/* Vector */

position: absolute;
left: 28.68%;
right: 70.61%;
top: 12.26%;
bottom: 86.65%;

background: #474747;


/* Vector */

position: absolute;
left: 27.35%;
right: 72.12%;
top: 12.44%;
bottom: 86.61%;

border: 2px solid #B9B9B9;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 24.84%;
right: 74.63%;
top: 13.26%;
bottom: 85.79%;

border: 2px solid #B9B9B9;
transform: rotate(-90deg);


/* Ellipse 2 */

position: absolute;
width: 2.79px;
height: 2.79px;
left: 1500.41px;
top: 125.51px;

background: #474747;


/* Ellipse 3 */

position: absolute;
width: 2.79px;
height: 2.79px;
left: 1500.41px;
top: 130.17px;

background: #474747;


/* Ellipse 4 */

position: absolute;
width: 2.79px;
height: 2.79px;
left: 1500.41px;
top: 134.83px;

background: #474747;


/* Vector */

position: absolute;
left: 91.06%;
right: 8.05%;
top: 12.07%;
bottom: 86.56%;

background: #474747;


/* Ellipse 5 */

position: absolute;
width: 17.7px;
height: 17.7px;
left: 1462.21px;
top: 122.72px;

background: #A7BAF3;


/* Info yo */

position: absolute;
width: 1096px;
height: 768px;
left: 421px;
top: 86px;



/* Yo */

position: absolute;
width: 674px;
height: 683px;
left: 681px;
top: 105px;



/* Clip path group */

position: absolute;
left: 12.71%;
right: 19.17%;
top: 18.15%;
bottom: 10.32%;



/* clippath */

position: absolute;
left: 12.71%;
right: 19.17%;
top: 18.15%;
bottom: 10.32%;



/* Vector */

position: absolute;
left: 12.71%;
right: 19.17%;
top: 18.15%;
bottom: 10.32%;

background: #000000;


/* Group */

position: absolute;
left: 12.71%;
right: 19.17%;
top: 0%;
bottom: 10.32%;



/* Rectangle */

position: absolute;
left: 12.71%;
right: 19.17%;
top: 0%;
bottom: 10.32%;

background: url(.jpg);


/* Rectangle */

position: absolute;
left: 59.64%;
right: -0.04%;
top: 60.91%;
bottom: -0.79%;

background: url(.png);


/* Clip path group */

position: absolute;
left: 0.99%;
right: 72.14%;
top: 60.14%;
bottom: 0.8%;



/* clippath-1 */

position: absolute;
left: 0.99%;
right: 72.14%;
top: 60.14%;
bottom: 0.8%;



/* Vector */

position: absolute;
left: 0.99%;
right: 72.14%;
top: 60.14%;
bottom: 0.8%;

background: #000000;


/* Group */

position: absolute;
left: 0%;
right: 70.94%;
top: 59.59%;
bottom: 0%;



/* Rectangle */

position: absolute;
left: 0%;
right: 70.94%;
top: 59.59%;
bottom: 0%;

background: url();


/* Capa_3 */

position: absolute;
left: 40.09%;
right: 49.41%;
top: 89.71%;
bottom: 7.42%;

transform: matrix(-0.94, -0.35, -0.35, 0.94, 0, 0);


/* Clip path group */

position: absolute;
left: 103.39%;
right: -103.39%;
top: 125.86%;
bottom: -125.86%;

transform: matrix(-0.94, -0.35, -0.35, 0.94, 0, 0);


/* clippath */

position: absolute;
left: 103.39%;
right: -103.39%;
top: 125.86%;
bottom: -125.86%;

transform: matrix(-0.94, -0.35, -0.35, 0.94, 0, 0);


/* Vector */

position: absolute;
left: 103.39%;
right: -103.39%;
top: 125.86%;
bottom: -125.86%;

background: #000000;
transform: matrix(-0.94, -0.35, -0.35, 0.94, 0, 0);


/* Group */

position: absolute;
left: 103.39%;
right: -103.39%;
top: 125.85%;
bottom: -125.86%;

transform: matrix(-0.94, -0.35, -0.35, 0.94, 0, 0);


/* Vector */

position: absolute;
left: 103.39%;
right: -103.39%;
top: 125.85%;
bottom: -125.86%;

background: #000000;
transform: matrix(-0.94, -0.35, -0.35, 0.94, 0, 0);


/* image 2 */

position: absolute;
height: 47px;
left: 30.12%;
right: 42.73%;
top: 641px;

background: url(image);


/* Elements */

position: absolute;
width: 100.75px;
height: 37.82px;
left: 163.65px;
top: 202px;

transform: rotate(70.48deg);


/* Vector */

position: absolute;
left: 35.36%;
right: -35.37%;
top: -0.01%;
bottom: 0.05%;

background: #000000;
transform: rotate(70.48deg);


/* image 1 */

position: absolute;
height: 90px;
left: 77.13%;
right: 9.47%;
top: 243px;

background: url(image);


/* Acerca de mí */

position: absolute;
width: 75px;
height: 15px;
left: 421px;
top: 86px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* idéntica a la altura del cuadro */

color: #474747;



/* (Mi gata) */

position: absolute;
left: 56.16%;
right: 39.83%;
top: 76.46%;
bottom: 21.58%;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
/* idéntica a la altura del cuadro */

color: #000000;



/* Rectangle 14 */

position: absolute;
width: 149px;
height: 17px;
left: 615px;
top: 345px;

background: #A7BAF3;


/* Rectangle 16 */

position: absolute;
width: 180px;
height: 17px;
left: 582px;
top: 365px;

background: #A7BAF3;


/* Rectangle 15 */

position: absolute;
width: 102px;
height: 17px;
left: 570px;
top: 305px;

background: #E0E6FB;


/* Capa_3 */

position: absolute;
width: 45.39px;
height: 48.63px;
left: 1057px;
top: 218.39px;

transform: rotate(-6.82deg);


/* Vector */

position: absolute;
left: 0%;
right: 86.3%;
top: 11.08%;
bottom: 38.65%;

background: #000000;
transform: rotate(-6.82deg);


/* Vector */

position: absolute;
left: 27.65%;
right: 34.07%;
top: 17.28%;
bottom: 32.2%;

background: #000000;
transform: rotate(-6.82deg);


/* Vector */

position: absolute;
left: 44.27%;
right: 0.14%;
top: 60.62%;
bottom: 11.17%;

background: #000000;
transform: rotate(-6.82deg);


/* Vector */

position: absolute;
left: 57.14%;
right: -11.32%;
top: 96.84%;
bottom: -5.36%;

background: #000000;
transform: rotate(-6.82deg);


/* mdi:heart-outline */

position: absolute;
width: 17px;
height: 17px;
left: 1443px;
top: 368px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 12.5%;
bottom: 11.04%;

background: #000000;


/* mdi:heart-outline */

position: absolute;
width: 17px;
height: 17px;
left: 1443px;
top: 422px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 12.5%;
bottom: 11.04%;

background: #000000;


/* mdi:heart-outline */

position: absolute;
width: 17px;
height: 17px;
left: 1443px;
top: 477px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 12.5%;
bottom: 11.04%;

background: #000000;


/* ab67616d0000b273caffd78ca8efc41dfd7bca5b 2 */

position: absolute;
height: 45px;
left: 77.06%;
right: 20.08%;
top: 468px;

background: url(ab67616d0000b273caffd78ca8efc41dfd7bca5b);
border-radius: 8px;


/* Soy Agostina, tengo 22 años y vivo en San Bernardo, cerca del mar. Estudié Diseño Gráfico y Comunicación Audiovisual en CAECE, Mar del Plata, y estoy a pocos finales de recibirme :) Soy acuariana, tengo una gata que se llama Almendra, y me encanta encontrar diseño en las cosas cotidianas del día a día. */

position: absolute;
left: 37.1%;
right: 49.05%;
top: 29.59%;
bottom: 50.88%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;

color: #000000;



/* Puedes contar conmigo */

position: absolute;
left: 80.37%;
right: 9.66%;
top: 34.96%;
bottom: 63.09%;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
/* idéntica a la altura del cuadro */

color: #000000;



/* Amaia Montero */

position: absolute;
left: 80.37%;
right: 13.21%;
top: 36.43%;
bottom: 61.62%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* idéntica a la altura del cuadro */

color: #000000;



/* Mi suerte */

position: absolute;
left: 80.37%;
right: 14.17%;
top: 40.82%;
bottom: 57.23%;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
/* idéntica a la altura del cuadro */

color: #000000;



/* Blues de cris */

position: absolute;
left: 80.37%;
right: 14.42%;
top: 46.09%;
bottom: 51.95%;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
/* idéntica a la altura del cuadro */

color: #000000;



/* Morat */

position: absolute;
left: 80.37%;
right: 17.22%;
top: 42.29%;
bottom: 55.76%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* idéntica a la altura del cuadro */

color: #000000;



/* Pescado Rabioso */

position: absolute;
left: 80.37%;
right: 12.52%;
top: 47.56%;
bottom: 50.49%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* idéntica a la altura del cuadro */

color: #000000;



/* ab67616d0000b273dec11ab372ccd3ada02270ec */

position: absolute;
width: 45px;
height: 46px;
left: 1213px;
top: 353px;

background: url(ab67616d0000b273dec11ab372ccd3ada02270ec);
border-radius: 8px;


/* ab67616d0000b273620e075a3ef78e933c1f3817 */

position: absolute;
width: 45px;
height: 46px;
left: 1213px;
top: 413px;

background: url(ab67616d0000b273620e075a3ef78e933c1f3817);
border-radius: 8px;


/* image 3 */

position: absolute;
width: 361px;
height: 68px;
left: 441px;
top: 229px;

background: url(image.png);


/* Rectangle 17 */

position: absolute;
width: 7px;
height: 285px;
left: 1509px;
top: 183px;

background: #C1C1C1;
border-radius: 3.5px;


/* Vector */

position: absolute;
left: 95.81%;
right: 3.62%;
top: 15.33%;
bottom: 83.98%;

background: #C1C1C1;


/* Vector */

position: absolute;
left: 96.38%;
right: 3.05%;
top: 83.4%;
bottom: 15.92%;

background: #C1C1C1;
transform: rotate(180deg);


/* A */

position: absolute;
width: 8px;
height: 13px;
left: 1467px;
top: 124px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 13px;

color: #FFFFFF;



/* Group 9 */

position: absolute;
width: 24px;
height: 24px;
left: 1427px;
top: 84px;



/* Ellipse 6 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D3E3FD;


/* Menos */

position: absolute;
left: 33.33%;
right: 31.73%;
top: 48.86%;
bottom: 51.14%;

border: 1.5px solid #474747;


/* Group 10 */

position: absolute;
width: 24px;
height: 24px;
left: 1456px;
top: 84px;



/* Ellipse 7 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D3E3FD;


/* Rectangulo */

box-sizing: border-box;

position: absolute;
left: 31.63%;
right: 33.43%;
top: 33.33%;
bottom: 31.73%;

border: 1.5px solid #474747;


/* Group 11 */

position: absolute;
width: 24px;
height: 24px;
left: 1485px;
top: 84px;



/* Ellipse 8 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D3E3FD;


/* Cruz */

position: absolute;
left: 33.33%;
right: 31.73%;
top: 33.33%;
bottom: 31.73%;



/* Vector 4 */

position: absolute;
left: 33.33%;
right: 31.73%;
top: 33.33%;
bottom: 31.73%;

border: 1.5px solid #474747;


/* Vector 5 */

position: absolute;
left: 33.33%;
right: 31.73%;
top: 68.27%;
bottom: 0.68%;

border: 1.5px solid #474747;
transform: rotate(-90deg);
